{% extends 'base.html' %}

{% block title %}
    Records
{% endblock %}

{% block body_block %}
    <div>
        <p>Contact List, kindly add yours to this list!!!</p>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in object_list %}
                        <tr>
                            <th>{{ contact.first_name }}</th>
                            <th>{{ contact.last_name }}</th>
                            <th>{{ contact.email }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'contacts-new' %}">Add new</a>
{% endblock %}
